/* This Awesome CSS file was created by Font Orgranizer from Hive :) */

body { font-family: 'TheMix'!important; }
h1 { font-family: 'TheMixBold'!important; }
h3 { font-family: 'TheMixBold'!important; }
p { font-family: 'TheMix'!important; }
q { font-family: 'TheMix'!important; }
li { font-family: 'TheMix'!important; }
a { font-family: 'TheMixBold'!important; }
li { font-family: 'TheMix'!important; }
