{% extends 'base_content.html' %}
{% load static %}

{% block head %}
    <link rel="stylesheet" href="{% static "css/attendance.css" %}">
{% endblock %}

{% block content %}
    <h1>{{ event.name }} - {{ event.calendar.name }}</h1>
    <ul>
        <li>{{ event.start|date:"d.m Y H:i" }}</li>
        <li>{{ event.end|date:"d.m Y H:i" }}</li>
    </ul>

    <a href="{% url 'attendance:event.edit' event.pk %}">
        <button class="btn">Edit</button>
    </a>

    <a href="{% url 'attendance:monthCalendar' event.calendar.slug event.start.year event.start|date:"m" %}">
        <button class="btn">Kalendář</button>
    </a>

    {{ event.description }}
    {{ event.location }}

    {% if event.ended %}
        Událost již skončila. Docházku již nelze editovat.
    {% endif %}
    <br />


        {% for participation in helper.getParticipations %}
            {% if not forloop.counter|divisibleby:2 %}
                <div class="row">
            {% endif %}
                {% if not event.ended %}

                    <a class="col-md-4" href="{% url 'attendance:toggleParticipation' participation.pk %}?back={{ request.path }}">
                         <div class="btn btn-secondary {% if participation.status %}btn-success{% endif %} btn-paritcipant">
                        {{ participation.person }}
                         <br />
                         {% if participation.status %}
                             (došel)
                         {% else %}
                             (nedošel)
                         {% endif %}

                        </div>
                    </a>
                {% else %}
                    <div class="col-md-4">
                         <div class="col-md-4 btn btn-secondary {% if participation.status %}btn-success{% endif %}">
                        {{ participation.person }}
                          {% if participation.status %}
                             (došel)
                         {% else %}
                             (nedošel)
                         {% endif %}
                        </div>
                    </div>

                {% endif %}
            {% if forloop.counter|divisibleby:2 %}
                </div>
            {% endif %}
        {% endfor %}
    </div>

{% endblock %}