.row .col-md-4 {
    margin-bottom: 5px;
}

.day {
 height: 200px;
}

.event-link {
    width: 100%;
    padding: 0px;
}

.event {
    text-align: left;
    padding: 0px 5px;
}

@media screen and (max-width: 480px) {
    .event {
        width: 100%;
        padding: 1px;
        margin-right: auto;
        margin-left: auto;
        overflow: hidden;

    }
}

.day {
    padding: 0px !important;
}

.day-container:hover > .calendar_newEventLink {
    visibility: visible;
    /*float: none;*/
    display: flex;
    flex: 1 1 auto;
    align-items: center;
    flex-direction: column;
}
.calendar_newEventLink {
    width: 100%;
    visibility: hidden;
    text-align: center;
    padding-top: 20%;
    text-decoration: none !important;
}

.calendar_newEventLink:hover .calendar_newEventLink:focus {
    text-decoration: none;
}

.calendar_newEventLink > .fa {
    font-size: 3em;
}


.day-container {
    display: flex;

    flex-direction: column;
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
}

.event {
    padding: 0px;
    padding-left: 4px;
    margin-bottom: 2px;
    width: 100%;
}

.event-dot {
    border-radius: 8px;
    border: 4px solid;
    height: 0;
    width: 0;
    float: left;
    margin-right: 6px;

    position: relative;
    top: 50%;
    transform: translateY(90%);
}

.multiday {
     color: white
}
