{% extends 'base_message.html' %}
{% load widget_tweaks %}
{% load static %}
{% load i18n %}

{% block head %}
    <link rel="stylesheet" href="{% static "/css/sentry.css" %}">

{% endblock %}


{% block message %}
    <div style="margin-left: auto; margin-right: auto; max-width: 600px; width: 100vw; text-align: center">
        <form method="POST" >
            {% csrf_token %}
            {{ form.username|attr:'placeholder:login'|attr:'class:login-input' }}
            <br />
            <br />
            {{ form.password|attr:'placeholder:password'|attr:'class:login-input' }}
            <br />
            <br />
            <button type="submit" id="login-loginbtn" class="btn success pull-right"> {% trans "Přihlásit" %}</button>
        </form>
        <div class="providers pull-left">
            {% for provider in auth_providers %}
                <a href="{% url 'sentry:externalLogin' provider.name %}"><i class="fa fa-wordpress"></i></a>
            {% endfor %}

            <!--{# maybe later, bro
                <i class="fa fa-facebook-square"></i> <i class="fa fa-github"></i><i class="fa fa-tree">Yup, this was supposed to be SkautIS</i>
             #}        !-->
        </div>


    </div>
{% endblock %}